.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 22px;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.link:hover {
    color: #53c28b !important;
}

.logout {
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #53c28b;
    color: #fff;
}