.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input {
  padding: 20px;
  background-color: transparent;
  border: 2px solid #bbb;
  color: #bbb;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}
.button {
  width: 300px;
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-weight: bold;
}

.button:hover {
  background-color: #49b07d;
}
.link {
  font-size: 16px !important;
  text-decoration: underline;
  color: #7d7c7c;
}
.link:hover {
  color: rgb(61, 61, 61);
}
.google {
  width: 300px;
  padding: 20px;
  cursor: pointer;
  background-color: rgba(228, 97, 50, 0.72);
  border: none;
  border-radius: 5px;
  color: #eee;
  font-weight: bold;
}

.google:hover {
  background-color: rgba(228, 97, 50, 0.803);
}
